div
  .table(style="width: 400px; margin-right: 8px;")
    .row.table-header
      span.table-settings-scores-stat Stats Scores
        span.help(title="設定したスコアに応じて装備の評価値を算出します。評価の高い装備は優先的に選ばれます。") ?
    div(style="height: 420px; overflow-y: auto;")
      .row.table-data(ng-repeat="label in ctrl.consts.statLabels")
        span.table-settings-scores-stat {{ label }}
        span.table-settings-scores-score
          input(ng-model="ctrl.vars.statValues[label]", style="width: 100px;")