html(ng-app="app")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Wakfu Resistance Puzzle Solver
    link(rel="shortcut icon", type="image/vnd.microsoft.icon", href="./res/favicon-wakfu-autobuild.ico")
    link(rel="stylesheet", href="./styles/main.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.js")
    script(src="./scripts/main.js")
  body.main-container(ng-controller="IndexCtrl as ctrl")
    .column(ng-show="ctrl.permissions.isReady()")
      h1 Wakfu Resistance Puzzle Solver
      h2 Description
      span Hello. This site is mainly for solving the highly complicated resistance puzzle. Currently it covers only 200 level equipment required. Also, because it does not cover all patterns, it is not always possible to get the best combination. Please be aware of that point.
      h2 Evaluation Criteria
      table
        tr(ng-repeat="label in ctrl.consts.statLabels")
          td {{ label }}
          td
            input(ng-model="ctrl.vars.statValues[label]")
      h2 Search Settings
      table
        tr
          td VIABLE_MARGIN
          td
            input(ng-model="ctrl.vars.viableMargin")
          td We will make candidates from equipments with the highest points to equipments lower by this point.
        tr
          td MAX_LOOP_COUNT
          td
            input(ng-model="ctrl.vars.maxLoopCount")
          td Number of times to try combining equipment. Too much will cause the PC to freeze, so the upper limit is 1000000.
        tr
          td RESISTANCE_DEDUCTION
          td
            input(ng-model="ctrl.vars.resistanceDeduction")
          td By subtracting the lowest resistance from this point and subtracting from the total score.
      h2 Item Blacklist
      span Enter the equipments that is not available in the text area below. For example, Nogord equipment which can not be obtained.
      br
      .row
        textarea(ng-model="ctrl.vars.blackList", ng-list!="&#10;" ng-trim="false", cols="45", rows="15")
      h2 Search Execution
      span Perform a search. Your browser may settle until the search is complete. Execution is completed normally within 30 seconds.
      br
      .row
        button(ng-click="ctrl.handlers.build()") Search
      .column(ng-show="ctrl.permissions.isResult()")
        h2 Viable Equipments
        span Equipment considered useful when searching is displayed below.
        .row.wrap
          div(ng-repeat="type in ctrl.consts.equipmentTypes", style="width: 24.9%;")
            h3 {{ type }}
            table
              tr(ng-repeat="equipment in ctrl.vars.result.viableEquipments[type]")
                td {{ equipment.score }}
                td
                  a(href="{{ 'https://www.wakfu.com' + equipment.url }}", target="_blank") {{ equipment.name }}
        h2 Results
        span Search results. If there is a problem with the result, adjust the parameters.
        div(ng-repeat="result in ctrl.vars.result.ranking")
          h3 Tier {{ $index + 1 }} (score: {{ result.score | number: 0 }})
          table
            tr(ng-repeat="equipment in result.set")
              td {{ equipment.score }}
              td
                a(href="{{ 'https://www.wakfu.com' + equipment.url }}", target="_blank") {{ equipment.name }}
          br
          table
            tr
              td Total Resist
              td F{{ result.bestResistance.fire }}
              td E{{ result.bestResistance.earth }}
              td A{{ result.bestResistance.air }}
              td W{{ result.bestResistance.water }}
              td (Min{{ result.minimumResistance }})
            tr(ng-repeat="resistance in result.bestModifiableResistance")
              td Mod {{ $index +1 }}
              td F{{ resistance.fire }}
              td E{{ resistance.earth }}
              td A{{ resistance.air }}
              td W{{ resistance.water }}
