html(ng-app="app")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Wakfu Automate Builder
    link(rel="shortcut icon", type="image/vnd.microsoft.icon", href="./res/favicon-wakfu-autobuild.ico")
    link(rel="stylesheet", href="./styles/main.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.js")
    script(src="./scripts/main.js")
  body.flex-container(ng-controller="IndexCtrl as ctrl")
    .column
      .flex
      .row
        span Copyrights 2017 clockhand.net
