html(ng-app="app")
  include includes/head.pug
  body(ng-controller="IndexCtrl as ctrl")
    include includes/title.pug
    include includes/equipments-filter.pug
    include includes/solver-settings.pug
    include includes/search
    include includes/results.pug
