head
  meta(name="viewport", content="width=device-width, initial-scale=1", charset="utf-8")
  title {{ 'label.title' | translate }}
  link(rel="shortcut icon", type="image/vnd.microsoft.icon", href="./res/favicon-wakfu-autobuild.ico")
  link(rel="stylesheet", href="./styles/main.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.17.0/angular-translate.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.17.0/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js")
  script(src="./scripts/main.js")