h1 {{ 'label.title' | translate }} (v1.1.5)
  a(href="https://github.com/nendonox/wakfu-autobuild/blob/master/CHANGELOG.md", target="_blank", style="font-size: 18px; color: purple; margin: 8px;") Release Notes
